@import url(../CSS/variables.css);

.logo-spotify{
    height: 2.6rem;
    max-width: 10rem;
}
.container{
    max-width: 450px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    padding-top: 2rem;
}
.titolo{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    font-family: spotifybold;
    padding-top: 2.5rem;
}
.margin{
    margin: 1rem 0 ;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook-button{
    color: white;
    background-color: #1877F2;
    padding: 19px 17px;
    font-family: spotifylight;
    text-align: center;
    border-radius: 500px;
    width: 15rem;
}
.google-button{
    color: none;
    border: 1px solid black;
    padding: 14px 13px;
    font-family: spotifylight;
    text-align: center;
    border-radius: 500px;
    width: 15rem;
    text-align: center;
}

.google-button svg{
    padding-right: 0.5em;
}
.hr-oppure{
 display: flex; 
 align-items: center;
 justify-content: center;
 width: 100%;
 margin: 2rem 0;
 font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0px auto 1em;
    color: rgb(127, 127, 127);
    position: relative;
    text-align: center;

}
.hr-oppure hr{
    width: 12rem;
}

.iscrizione h2{
    font-size: 22px;
    text-align: center;
    font-family: spotifybold;
    margin-bottom: 1rem;
}
.spotifybold{
    font-weight: 550;
}
.profilo input{
    padding: 12px 10px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
  
}
.marginput{
    margin: 1rem 0 2rem 0;
}
.profilo p {
    font-size: 12px;
    font-family: spotifylight;
    margin: 0.8em 0;
}
.inline{
    display: block;
}
.birthday{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    
}
.paddbirth{
    width: 100%;
    padding: 14px 44px 14px 14px;
}
.mese {
    flex: 2;
}
.giorno{
    flex: 1;
}
.anno{
    flex: 1;
}
.check-boxes{
    font-family: spotifylight;
    font-size: small;
}
.padse{
    padding: 0px 10px;
}
.testo1{
    text-align: center;
    font-size: 0.8em;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer a{
    color: rgb(29, 185, 84);
    font-weight: bold;
    text-decoration: underline;
}
.iscriviti{
    background-color:#1ed760;
    width: 8em;
    height: 4em;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: spotifybold;
    margin-top: 20px;
}
.account{
    text-align: center;
    margin-bottom: 50px;
}