@import url(variables.css);



/* variabili fisse */
.fl{display: flex;}
.fl-co{display: flex; flex-direction: column;}
/* variabili fisse */

html{
 width: 100vw;
 height: 100vh;
 overflow-x: hidden;
}

/* inizio nav */
nav{
    height: 5rem;
    width: 100vw;
    background-color: black;
    padding: 0 15px;
}

.cont-head{
    height: 5rem;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.cont-logo{
   height: 5rem;
   width: var(--logow);
   display: flex;
   align-items: center;
   cursor: pointer;
}


.svelte-1gcdbl9{
    fill: white;
     height: var(--logoh);
    width: var(--logow);
}

.item, .cont-elenco p {
    padding: 28px 17px;
    color: white;
    cursor: pointer;
}

.item a{
    color: white;
    font-family: spotifybold;
    font-size: 16px;
}

.item:hover a{
    color: var(--green);
}

/* fine nav */






/* inizio main */

main{
    background-color: var(--blue);
    width: 100vw;
    height: 100vh;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.cont-middle{
    width: 800px;
    height: 100vh;
    color: var(--green);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cont-middle h1{
    font-size: 156px;
    font-family: spotifybold;
    padding: 0 0 40px;
    text-indent: -9rem;

}

.cont-middle p{
    font-family: spotifylight;
    font-weight: 800;
    padding: 0 0 40px;
}

.button{
    background-color: var(--green);
    padding: 14px 32px;
    border-radius: 25px;
}


.btn{
    font-family: spotifybold;
    color: var(--blue);
    transition: transform 33ms;
}

.button:hover{
    background-color: #37e473 ;
    transform: scale(1.1);
    cursor: pointer;
}


/* fine main */







footer{
    background-color: black;
    padding: 80px 0 50px;
} 

.sopra{
    padding: 0 15px;
    justify-content: space-between;
}

.icon{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #222326;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}

.icon img{
    width: 24px;
    height: 24px;
    background-color: white;

}

.icon:hover img{
    background-color: var(--green);
}

.elencof{
    padding: 0 15px;
}



.elencof a{
    padding: 3px 0 15px;
    color: white;
    font-family: spotifylight;
    font-weight: 800;
    font-size: 14px;
}

.elencof h3{
    color: #919496;
    font-family: spotifylight;
    font-size: 12px;
    margin: 20px 0;
}

.elencof{
    width: 195px;
    height: 346px;
}

.elencof a:hover{
    color: var(--green);
}

.fhead{
    width: 73.125rem;
    margin: 0 auto;
}

.globe{
    width: 73.125rem;
    display: flex;
    padding: 0 15px;
    justify-content: flex-end;
    align-items: center;
    
}

.globe svg{
    margin: 0 8px 0 0;
    cursor: pointer;
}

.last p, .globe a{
    color: #919496;
    font-size: 12px;
    font-family: spotifylight;
}

.globe a:hover{
    color: var(--green);
    cursor: pointer;
}


.last{
    justify-content: space-between;
    margin: 15px 15px;
}

.left-last{
    gap: 20px;
}

.left-last p:hover{
    color: var(--green);
    cursor: pointer;
}

.lg{
    height: 42px;
}