:root{
--green: #1ed760;
--blue: rgb(41, 65, 171);
--logow: 132px;
--logoh: 40px;
--bluepremium:rgb(29, 117, 222);
}

@font-face {
    font-family: spotifybold;
    src: url(../ASSETS/FONT/Gotham-Font/Gotham-Bold.otf);
}

@font-face {
    font-family: spotifylight;
    src: url(../ASSETS/FONT/Gotham-Font/Gotham-Light.otf);
}

@font-face {
    font-family: spotifythin;
    src: url(../ASSETS/FONT/Gotham-Font/Gotham-Thin.otf);
}

@font-face {
    font-family: spotifyblack;
    src: url(../ASSETS/FONT/Gotham-Font/Gotham-Black.otf);
}
 
